.text-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.text-primary {
  color: var(--v-primary-base) !important;
}

.text-success {
  color: var(--v-success-base) !important;
}

.text-error {
  color: var(--v-error-base) !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-spaced {
  letter-spacing: 1px !important;
}

.line-spaced {
  line-height: 1.5em !important;
}

.f-500 {
  font-weight: 500 !important;
}

.f-600 {
  font-weight: 600 !important;
}

.f-11 {
  font-size: 11pt !important;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.h-100 {
  height: 100% !important;
}

@keyframes fade {
  0%   {opacity: 0;}
  100%  {opacity: 1;}
}
